/* reset */
* { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {font-size: 16px; font-family:'NotoB', '돋움', serif; line-height: 1.5; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


a:link, a:visited { 
    font: inherit; 
    color: inherit; 
    text-decoration: 
    none; }
a:hover, a:focus, a:active { 
    font: inherit; 
    color: inherit; 
    text-decoration: underline; 
}


@font-face {font-family: 'NotoB';
src:url("../fonts/NotoSans-Black.eot"),
url(../fonts/NotoSans-Black.woff2) format('woff2'),
url(../fonts/NotoSans-Black.woff) format('woff'),
url(../fonts/NotoSans-Black.otf) format('opentype');}

@font-face {font-family: 'NotoR';
src:url("../fonts/NotoSans-Regular.eot"),
url(../fonts/NotoSans-Regular.woff2) format('woff2'),
url(../fonts/NotoSans-Regular.woff) format('woff'),
url(../fonts/NotoSans-Regular.otf) format('opentype');}



@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 767px) {

}


.wrap {
    position:relative; 
    overflow: hidden;
}

.inner {
    max-width:1100px; 
    height: 100%;  
    margin: 0 auto;
}

.com_tit01 {
    font-family: 'NotoB'; 
    font-size:60px; 
    color:#fff; 
    text-align: center;
}

.com_txt01 {
    max-width:70%; 
    margin:0 auto; 
    font-family: 'NotoR'; 
    font-size:24px; 
    color:#fff; 
    text-align: center;
}

.header_wrap {
    position: fixed; 
    left:0; 
    top:0; 
    z-index:100; 
    width:100%; 
    height:120px; 
    border-bottom:1px solid #ddd;
}

.header_wrap .logo {
    margin-top:15px; 
    padding-left:20px; 
    font-size:24px; 
    color:#fff;
}
.tb_row 
{display: table; 
    width:100%; 
    height: 100%;}
.tb_row .tb_cell {
    display: table-cell; 
    vertical-align: middle;
}

.sec01 {
    position:relative; 
    height:100vh; 
    background: darkorange;
}

.sec01 .nav_list {
    position: relative; 
    z-index:20; 
    top:5%;
}

.sec01 .nav_list .list li a {
    overflow:hidden; 
    position:relative; 
    display:inline-block; 
    font-size:140px; 
    line-height: 1; 
    color:#fff; 
    transition:transform .5s;
}

.sec01 .nav_list .list li a .mask {
    position:absolute; 
    left:0; 
    top:0; 
    z-index:10;
    height:100%; 
    background: #fff; 
    animation:text_mask 2s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both paused;
}
    
.sec01 .nav_list .list li a .txt {
    position:relative; 
    z-index:20; 
    display: block; 
    animation:text_opacity 2s 1s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both paused;
}

.sec01.active .nav_list .list li a .mask {
    animation-play-state: running;
}

.sec01.active .nav_list .list li a .txt {
    animation-play-state: running;
}

.sec01 .nav_list .list li a .mask2 {
    position:absolute;
    left:0; 
    bottom:0; 
    z-index:-1; 
    width:0%; 
    height:40%; 
    background: #e9c400; 
    transition:width .5s cubic-bezier(0.24, 0.77, 0.32, 0.95);
}

.sec01 .nav_list .list li a:hover {
    transform:translateX(-10px); 
    -webkit-transform:translateX(-10px); 
    -moz-transform:translateX(-10px); 
    -o-transform:translateX(-10px); 
    -ms-transform:translateX(-10px);
}

.sec01 .nav_list .list li a:hover .mask2 {
    width:100%;
}

.sec01 .nav_list .list li a:hover {
    text-decoration: none;
}

.sec01 .nav_list .list li a:focus {
    text-decoration: none;
}

.sec01 .bg_dog {
    position:absolute; left:35%; 
    top:75%; z-index:10; 
    width:350px; height:400px; 
    margin-left:357px; 
    margin-top:-350px; 
    background-image:url('../images/dog.gif'); 
    background-repeat: no-repeat; 
    background-size: 100%;
}

@keyframes text_mask {
    0%{
        width: 0%;
        transform:translateX(0%);
    }
    50%{
        width: 100%;
        transform:translateX(0%);
    }
    100%{
        width: 100%;
        transform:translateX(101%);
    }
}

@keyframes text_opacity {
    0%{
        opacity: 0;
        color:#3535ff;
        transform:translateX(-50%);
    }
    100%{
        opacity: 1;
        color:#fff;
        transform:translateX(0%);
    }
}