/* animation */
@keyframes ani-head {
    to { transform: rotateX(-10deg); }
}
@keyframes ani-running-leg {
    from {
        transform: rotateX(-30deg);
    }
    to {
        transform: rotateX(30deg);
    }
}
@keyframes ani-running-arm {
    from {
        transform: rotateY(30deg);
    }
    to {
        transform: rotateY(-30deg);
    }
}

body {
    height: 500vw;
    font-family: 'Apple SD Gothic Neo', 'Roboto', 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
    -webkit-overflow-scrolling: touch;
    color: #555;
    background: darkorange;
    transition: background .5s;
}

/* world */
.world {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}
.stage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}
.house {
    width: 100vw;
    height: 100vh;
    transform: translateZ(-490vw);
    transform-style: preserve-3d;
}
.wall {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
}
.wall-left {
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-500vw);
}
.wall-right {
    width: 1000vw;
    background: #f8f8f8;
    transform: rotateY(90deg) translateZ(-400vw);
}
.wall-front-a { transform: translateZ(300vw); }
.wall-front-b { transform: translateZ(50vw); }
.wall-front-c { transform: translateZ(-200vw); }
.wall-front-d { transform: translateZ(-500vw); }
.wall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wall-title {
    font-size: 5rem;
}
.progress-bar-con {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 5px;
    background: #555;
}
.progress-bar {
    width: 0;
    height: 100%;
    background: #00a8ff;
}

/* character */
.character {
    position: absolute;
    left: 12%;
    bottom: 5%;
    width: 10vw;
    height: 17.9vw;
    transform-style: preserve-3d;
}
.character[data-direction='forward'] { transform: rotateY(180deg); }
.character[data-direction='backward'] { transform: rotateY(0deg); }
.character[data-direction='left'] { transform: rotateY(-90deg); }
.character[data-direction='right'] { transform: rotateY(90deg); }
.character-face-con {
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}
.character-face {
    position: absolute;
    left: -11%;
    top: 17%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.character-face.face-back {
    transform: rotateY(180deg);
}
.character-head {
    left: calc(42 / 607 * 100%);
    top: 0;
    z-index: 60;
    width: calc(607 / 607 * 100%);
    height: calc(488 / 1100 * 100%);
    transform-origin: center bottom;
    animation: ani-head 0.6s infinite alternate cubic-bezier(0.46, 0.18, 0.66, 0.93);
}
.character-head-face.face-front { background-image: url('../images/head_front.png'); }
.character-head-face.face-back { background-image: url('../images/head_back.png'); }
.character-torso {
    left: 25%;
    top: 45%;
    width: calc(317 / 607 * 100%);
    height: calc(370 / 1100 * 100%);
    transform-origin: center center;
}
.character-torso-face.face-front { background-image: url('../images/body_front.png'); }
.character-torso-face.face-back { background-image: url('../images/body_back.png'); }
.character-arm-right {
    left: 8%;
    top: 46%;
    z-index: -1;
    width: calc(157 / 607 * 100%);
    height: calc(367 / 1100 * 100%);
    transform-origin: right top;
}
.character-arm-right .face-front { background-image: url('../images/arm_right_front.png'); }
.character-arm-right .face-back { background-image: url('../images/am_left_front.png'); }
.character-arm-left {
    left: 63%;
    top: 46%;
    z-index: -1;
    width: calc(157 / 607 * 100%);
    height: calc(367 / 1100 * 100%);
    transform-origin: left top;
}
.character-arm-left .face-front { background-image: url('../images/am_left_front.png'); }
.character-arm-left .face-back { background-image: url('../images/arm_right_front.png'); }
.character-leg-right {
    left: calc(200 / 856 * 100%);
    top: 75%;
    z-index: -1;
    width: calc(157 / 607 * 100%);
    height: calc(318 / 1100 * 100%);
    transform-origin: center top;
}
.character-leg-right .face-front { background-image: url('../images/leg_left_front.png'); }
.character-leg-right .face-back { background-image: url('../images/leg_right_back.png'); }
.character-leg-left {
    left: calc(414 / 856 * 100%);
    top: 75%;
    z-index: -1;
    width: calc(157 /  607 * 100%);
    height: calc(318 / 1100 * 100%);
    transform-origin: center top;
}
.character-leg-left .face-front { background-image: url('../images/leg_right_front.png'); }
.character-leg-left .face-back { background-image: url('../images/leg_left_back.png'); }
.character.running .character-leg-right { animation: ani-running-leg 0.2s alternate infinite linear; }
.character.running .character-leg-left { animation: ani-running-leg 0.2s alternate-reverse infinite linear; }
.character.running .character-arm { animation: ani-running-arm 0.2s alternate infinite linear; }