<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>멍탐정</title>
<link rel="stylesheet" type="text/css" href="static/css/common.css">
</head>

<body>

    <div class="wrap">
        <header class="header_wrap">
            <div class="logo">
                <a href="/"><img src="static/images/logo.png" alt="로고" width="99" height="102" ></a>
            </div>
        </header>
        <section class="sec01 active">
            <article class="inner">
                <div class="tb_row">
                    <div class="tb_cell">
                        <nav class="nav_list">
                            <ul class="list">
                                <li>
                                    <a href="/" class="active">
                                        <span class="txt">홈</span>
                                        <span class="mask"></span> 
                                        <span class="mask2"></span>
                                </li>
                                <li>
                                    <a href="start">
                                        <span class="txt">개요</span>
                                        <span class="mask"></span>
                                        <span class="mask2"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="introduce">
                                        <span class="txt">개발자</span>
                                        <span class="mask"></span>
                                        <span class="mask2"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/blank1">
                                        <span class="txt">통계</span>
                                        <span class="mask"></span>
                                        <span class="mask2"></span>
									</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="bg_dog"></div>
            </article>
        </section>
    </div>
</body>
</html>
