<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">

  <title>
    나를 알아보는 10가지 질문
  </title>
  <link rel="stylesheet" href="static/css/resets.css">
  <link rel="stylesheet" href="static/css/animation.css">
  <link rel="stylesheet" href="static/css/maind.css">
  <link rel="stylesheet" href="static/css/header+footer.css">
  <link rel="stylesheet" href="static/css/welcome.css">
  <link rel="stylesheet" href="static/css/qna.css">
  <link rel="stylesheet" href="static/css/calc.css">
  <link rel="stylesheet" href="static/css/result.css">

</head>

<body>
  <div id="wrap">
    <header id="header">
      <button class="logo head" onclick=javascript:switchMode()></button>
    </header>
    <section id="welcome" class="container">
      <div id="title-box">
        <h3 class="sec-tit">
          10가지 질문으로<br>
          알아보는 나와 닮은 강아지
        </h3>
        <span class="time-logo"></span>
        <div>소요 시간 : 3분 내외</div>
      </div>
      <div id="name-input">
        <input type="text" placeholder="이름" autofocus>
      </div>
      <p class="check-name warning"></p>
      <div class="start-wrap">
        <button class="start">시 작</button>
      </div>
    </section>
    <section id="qna" class="container">
      <div class="status-bar">
        <div class="status"></div>
      </div>
      <div class="q box"></div>
      <div class="answer"></div>
    </section>
    <section id="calc">
      <div class="calc-bar">
        CALCULATING
        <div class="calc"></div>
      </div>
      <p class="wait">잠시 기다려주세요...</p>
    </section>
    <section id="result" class="container">
      <div id="score-box">
        <div class="p title"></div>
        <div class="point"></div>
        <div class="pin"></div>
        <div class="score-bar"></div>
      </div>
      <div id="desc-box">
        <div class="art"></div>
        <div class="result title"></div>
        <div class="res desc"></div>
      </div>
      <hr>
      <p>친구들과 공유하기</p>
      <div class="hash">#반려견 #멍탐정 #mbti</div>
      <div id="share-box">
        <a onclick=javascript:tw() target="_blank" alt="Share on Twitter" title="트위터에 공유하기">
          <span class="tw"></span>
        </a>
        <a onclick=javascript:fb() target="_blank" alt="Share on Facebook" title="페이스북에 공유하기">
          <span class="fb"></span>
        </a>
        <a onclick=javascript:nv() target="_blank" alt="Share on Naver" title="네이버에 공유하기">
          <span class="nv"></span>
        </a>
        <a onclick=javascript:band() target="_blank" alt="Share on Naver Band" title="네이버 밴드에 공유하기">
          <span class="band"></span>
        </a>
      </div>
      <button onclick=javascript:copy() class="btn">링크 복사하기</button>
      <button class="go-origin btn">
        <a href="mbti" title="처음으로">
          처음으로
        </a>
      </button>
    </section>
    <footer id="footer">
      <div>
        <span class="highlight">Dain Kim , 멍탐정</span>
        © 2020 ~ 2021
      </div>
      <a href="https://github.com/dev-dain" target=_blank title="개발자 깃허브">
        <div class="logo foot github"></div>
      </a>
      <a href="https://dev-dain.tistory.com" target=_blank title="개발자 블로그">
        <div class="logo foot tistory"></div>
      </a>
      <a href="/" target=_blank title="멍탐정 사이트">
        <div class="logo foot pet"></div>
      </a>
    </footer>
  </div>
  <script src="static/js/darkmode.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/maing.js"></script>
  <script src="static/js/share.js"></script>
</body>

</html>