<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>추후개발</title>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/css/default.css">
	<link rel="stylesheet" href="static/css/mains.css">
</head>

<body class="before-load">
	<div class="loading">
		<svg class="loading-circle">
			<circle cx="50%" cy="50%" r="25"></circle>
		</svg>
	</div>
	<div class="container">
		<section class="scroll-section" id="scroll-section-0">
			<h1>혁신의 바람이</h1>
			<object class="sticky-elem dog-logo" data="static/images/logo.svg" type="image/svg+xml"></object>
			<div class="sticky-elem main-message a">
				<p>이곳에</p>
			</div>
			<span class="sticky-elem ribbon-path">
				<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 450">
					<path class="st1"
						d="M709,41.5c-194,38-387,122-455,159c-64.13,34.89-73.4,42.42,20,26c82.5-14.5,126.34-33.68,185-38 c47.5-3.5,69.22,7.98-11,39c-75,29-251,98-459,169">
					</path>
				</svg>
			</span>
			<div class="sticky-elem main-message b">
				<p>멍탐정</p>
			</div>
			<img class="sticky-elem dog" src="static/images/dog.gif">
		</section>
		<div class="normal-content">
			<section>
				<p class="mid-message">
					폭. 포폭 폭. 폭염경보 포폭. 폭 폭염. 폭염경보. 폭. 폭염. 포폭. 폭. 염. 폭염. 폭 경크 포폭. 폭염. 경로 폭. 포폭 폭. 폭 염. 폭염경. 보폭 포폭 폭. 폭염경보. 폭폭. 포폭. 염. 폭염경보 포스폭. 폭 폭염. 폭염경보. 폭. 플염. 포폭. 폭 폭염. 폭염경보. 폭. 폭염. 포폭. 폭 폭염. 폭염경보. 폭. 폭염. 포폭 폭. 폭. 폭랫염. 폭 경보 경보. 폭염.폭. 포폭 폭. 폭염경보 포폭. 폭 폭염. 폭염경보. 폭. 폭염. 포폭. 폭. 염. 폭염. 폭 경보 포폭. 폭염. 경보 폭. 포폭 폭. 폭 염. 폭염경. 보폭 포폭 폭. 폭염경보. 폭폭. 포폭. 염. 폭염경보 포폭. 폭 폭염. 폭염경보. 폭. 폭염. 포폭 폭. 폭. 폭염. 폼 경보 경보. 폭.
				</p>
			</section>
		</div>
	</div>

	<script src="static/js/mains.js"></script>
</body>

</html>