<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./static/css/login.css">
</head>
<body width="100%" height="100%">
    <form action="index.html" method="post" class="loginForm">
        <h2>회원탈퇴를 위한 정보를 입력해주세요</h2>
        <div class="idForm">
            <input type="text" class="id" id="quit_id" placeholder="ID">
        </div>
        <div class="passForm">
            <input type="password" class="pw" id="quit_pw" placeholder="PW">
        </div>
        <button type="button" class="btn" onclick="quit()">
            회원탈퇴
        </button>

        <!-- <div class="bottomText">
            Don't you have ID? <a href="/sign">sign up</a>
        </div> -->
    </form>



    <script>
        // 회원탈퇴 버튼 눌렀을때 발동되는 함수
        function quit() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // data = app.py에서 return 받은 Crawling.interparkcrawling(word)결과값
                    data = this.responseText;
                    // data = JSON.parse(data);
                    console.log(data)
                    
                    if (data == '회원탈퇴가 완료되었습니다!') {
                        
                        window.location.href = '/'
                        alert(data);
                    }
                    else{
                        alert(data);
                    }
                }
            };

            // choice_data = document.getElementById('linestoplist').innerText;
            let id = document.getElementById("quit_id").value
            let pw = document.getElementById("quit_pw").value

            querystring = "id=" + id +"&pw=" + pw;
            xhttp.open("POST", "/sign_quit");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            console.log(querystring);
            xhttp.send(querystring);
        }
    </script>
</body>
</html>