<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>반려동물 가족들의 아픔</title>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/css/styled.css">
</head>
<body>
	<header class="header">
		<div class="global-width">
			<h1 class="page-title">반려동물 가족들의 아픔</h1>
		</div>
	</header>
	<section class="scroll-content">
		<div class="scroll-graphic">
			<div class="graphic-item"><img class="scene-img" src="static/images/dog_outline.png" alt=""></div>
			<div class="graphic-item"><img class="scene-img" src="static/images/dog_outline2.png" alt=""></div>
			<div class="graphic-item"><img class="scene-img" src="static/images/dog_outline3.png" alt=""></div>
			<div class="graphic-item"><img class="scene-img" src="static/images/dog_outline4.png" alt=""></div>
			<div class="graphic-item"><img class="scene-img" src="static/images/dog_outline5.png" alt=""></div>
		</div>
		<div class="scroll-text global-width">
			<div class="step">
				<p>
					우리는 개에게 줄 수 있는 만큼의 시간을 주고 우리가 내어줄수 있는 공간을 주고 우리가 줄 수 있는 만큼의 사랑을 준다.
					그 답례로 개는 자신의 모든것을 준다. 이것은 인간이 가질 수 있는 최고의 거래다.
				</p>
			</div>
			<div class="step">
				<p>
					이처럼 현대인들의 삶속에서 반려동물들은 가족 구성원이 되었고 삶의 희노애락을 같이하는 동반자가 되었다는것을 알수있습니다.
				</p>
			</div>
			<div class="step">
				<p>
					그러나 이러한 가족이 실종되거나 없어지게 된다면 어떻게 될까요?
				</p>
			</div>
			<div class="step">
				<p>
					여러분들은 그 아픔을 감당하실수 있나요?
				</p>
			</div>
			<div class="step">
				<p>
					우리는 말합니다. 그 아픔을 사전 방지하고 여러분의 가족을 찾을 수 있게 도움 주는것을 지향하며 개발 진행중입니다. 
				</p>
			</div>
		</div>
	</section>

	<footer class="global-footer">
		<p>
			DESIGNED By 강다현
		</p>
		<a href="introduce"><img src="static/images/logo.png" alt="로고" width="71" height="70" ></a>
	</footer>

	<script src="static/js/maind.js"></script>
</body>
</html>